@model DonationEvents.Event

@{
    ViewBag.Title = "Details";
}

<h2>@Model.EventName</h2>
@Model.PixelLotID
<div>
    
  <iframe style="height:500px;width:100%" src="https://club.pixellot.tv/widget/dbbe9f5315a7713793ba7c8d60d82bcf36f84bb390616f9f/player?eventId=@Model.PixelLotID"></iframe>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
