<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://donationeventsbigpush.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>donationeventsbigpush.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>DonationEventsBigpush</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$DonationEventsBigpush</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EventsMasterEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:donationeventsbigpushdbserver.database.windows.net,1433;Initial Catalog=DonationEventsBigpush_db;User ID=Kunaladmin@donationeventsbigpushdbserver;Password=Kunal@123" Name="Data Source=tcp:donationeventsbigpushdbserver.database.windows.net,1433;Initial Catalog=DonationEventsBigpush_db;User Id=Kunaladmin@donationeventsbigpushdbserver;Password=Kunal@123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DonationEvents.EventsMasterEntities, DonationEvents" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:donationeventsbigpushdbserver.database.windows.net,1433;Initial Catalog=DonationEventsBigpush_db;User ID=Kunaladmin@donationeventsbigpushdbserver;Password=Kunal@123" Name="Data Source=tcp:donationeventsbigpushdbserver.database.windows.net,1433;Initial Catalog=DonationEventsBigpush_db;User Id=Kunaladmin@donationeventsbigpushdbserver;Password=Kunal@123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DonationEvents.Models.ApplicationDbContext, DonationEvents" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:donationeventsbigpushdbserver.database.windows.net,1433;Initial Catalog=DonationEventsBigpush_db;User Id=Kunaladmin@donationeventsbigpushdbserver;Password=Kunal@123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EventsMasterEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:donationeventsbigpushdbserver.database.windows.net,1433;Initial Catalog=DonationEventsBigpush_db;User Id=Kunaladmin@donationeventsbigpushdbserver;Password=Kunal@123"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>